<ion-header>
  <ion-toolbar>
    <ion-title>Request Bitcoin</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()" size="large"
        ><ion-icon name="close" size="large"></ion-icon
      ></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-text color="danger"> {{addy}} </ion-text>
  <ion-img
    src="https://api.qrserver.com/v1/create-qr-code/?data={{addy}}&color=000000&bgcolor=FFFFFF"
  ></ion-img> -->

  <!-- <div *ngIf="tempAddy$ | async as addy">
    <ion-text class="ion-padding"
      >Use this address as a temporary address for receiving funds. This is not
      your actual wallet address.
    </ion-text>
    <ion-text color="danger"> {{addy.input_address}} </ion-text>
    <ion-img
      src="https://api.qrserver.com/v1/create-qr-code/?data={{addy.input_address}}&color=000000&bgcolor=FFFFFF"
    ></ion-img>
  </div> -->

  <div *ngIf="error$ | async as lastError" class="error-item">
    <ion-text color="danger"> {{lastError}} </ion-text>
  </div>
</ion-content>
