<ion-item class="ion-text-center ion-justify-content-center">
  <img src="assets/images/card.png" style="width: 60%" />
</ion-item>

<ion-item>
  <ion-text>Bitcoin Address:</ion-text>
  <ion-button fill="clear" (click)="showQRcode(addys.legacy)"
    >QR Code <ion-icon name="qr-code-outline"></ion-icon
  ></ion-button>
  <ion-button fill="clear" (click)="copyToClipboard(addys.legacy)"
    >Copy <ion-icon name="copy-outline"></ion-icon
  ></ion-button>
  <ion-button fill="clear" (click)="exploreAddy(addys.legacy)">
    Explore <ion-icon name="eye-outline"></ion-icon>
  </ion-button>
</ion-item>

<!-- <ion-item>Current Bitcoin Price: {{btcPrice}}</ion-item> -->
<ion-item
  >Wallet Balance: {{balanceBTC$ | async}} BTC - {{balanceUSD$ |
  async}}</ion-item
>
<ion-item>Bitcoin Price: {{btcPrice$ | async}} </ion-item>

<ion-toolbar>
  <ion-buttons slot="start">
    <ion-button (click)="showSend(addys.legacy)">
      <ion-icon name="send-outline"></ion-icon>Send
    </ion-button>
  </ion-buttons>
</ion-toolbar>
