<ion-header>
  <ion-toolbar>
    <ion-title>Send Bitcoin</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()" size="large"
        ><ion-icon name="close" size="large"></ion-icon
      ></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="form">
    <ion-item>{{addy}}</ion-item>
    <ion-item>
      <ion-input formControlName="toAddress" placeholder="Address"></ion-input>
      <ion-button fill="outline" (click)="pasteFromClipboard()"
        ><ion-icon name="clipboard-outline"></ion-icon
      ></ion-button>
      <ion-button fill="outline" (click)="scanCode()"
        ><ion-icon name="scan-circle-outline"></ion-icon
      ></ion-button>
    </ion-item>
    <ion-item>Balance: {{btc}} BTC - ${{usd}}</ion-item>
    <ion-item>
      <ion-label slot="start">Send<br />Amount $</ion-label>
      <ion-input
        type="number"
        autofocus="true"
        inputmode="decimal"
        formControlName="amount"
        (ionChange)="createTx()"
      ></ion-input>
      <ion-label slot="end"
        >{{satsToBtc(usd2sats(form.controls.amount.value))}} BTC</ion-label
      >
    </ion-item>
    <ion-item>
      <ion-label class="ion-text-end" *ngIf="form.controls.amount.value > 0">
        <!-- <p>Fee: {{satsToBtc(fee$ | async)}} BTC, <br />$ {{satsToUsd(fee$ | async)}}</p> -->
        <p>
          Sending: $ {{(form.controls.amount.value).toFixed(2)}} <br />
          Fee: $ {{satsToUsd(fee$ | async)}} <br />
          Total Amount: $ {{satsToUsd(totalTx$ | async)}}, <br />
          {{satsToBtc(totalTx$ | async)}} BTC
        </p>
      </ion-label>
    </ion-item>
    <!-- <ion-item> -->
    <!-- <ion-segment (ionChange)="getMinerFee($event)" mode="ios">
        <ion-segment-button value="low">
          <ion-label>Low</ion-label>
        </ion-segment-button>
        <ion-segment-button value="medium">
          <ion-label>Normal</ion-label>
        </ion-segment-button>
        <ion-segment-button value="high">
          <ion-label>Priority</ion-label>
        </ion-segment-button>
      </ion-segment> -->
    <!-- <ion-label>Select Fee</ion-label>
      <ion-select mode="ios" name="feeSelector">
        <ion-select-option
          *ngFor="let item of (fee$ | async) | keyvalue"
          [value]="item.value.total.p2wpkh.satoshi"
          >{{item.value.total.p2wpkh.usd | currency:'USD'}} - {{item.key}} mins.
          <i class="ion-checkmark"></i>
        </ion-select-option>
      </ion-select> -->
    <!-- <div *ngFor="let item of (fee$ | async) | keyvalue">
        Key: <b>{{item.key}}</b> and Value:
        <b>{{item.value.total.p2wpkh.usd}}</b>
      </div> -->
    <!-- </ion-item> -->
    <!-- <ion-item>
      <ion-label position="floating">Description</ion-label>
      <ion-textarea formControlName="description" rows="2"></ion-textarea>
    </ion-item> -->
    <ion-item>
      <ion-button shape="round" expand="full" (click)="createTx()"
        >Preview <ion-icon name="eye" class="ion-margin-start"></ion-icon
      ></ion-button>
      <ion-button shape="round" expand="full" (click)="signTx()"
        >Sign <ion-icon name="pencil" class="ion-margin-start"></ion-icon
      ></ion-button>
      <ion-button shape="round" expand="full" (click)="sendTx()"
        >Send <ion-icon name="send" class="ion-margin-start"></ion-icon
      ></ion-button>
    </ion-item>
    <ng-container *ngIf="error$ | async as error">
      <p *ngFor="let e of error">
        <ion-text color="danger" class="ion-text-wrap">{{ e.error }}</ion-text>
      </p>

      <br /><br />
    </ng-container>
  </form>
</ion-content>
