<ion-header>
  <ion-toolbar>
    <ion-title>Bitcoin Address</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()" size="large"
        ><ion-icon name="close" size="large"></ion-icon
      ></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-text>
    Use this address to Receive funds to this wallet.<br />{{addy}}
  </ion-text>
  <qrcode
    [qrdata]="addy"
    [width]="320"
    [errorCorrectionLevel]="'M'"
    [elementType]="'svg'"
  ></qrcode>
</ion-content>
