<ion-header>
  <ion-toolbar>
    <ion-buttons slot="primary" *ngIf="scanned === true">
      <ion-button (click)="settings()">
        <ion-icon slot="icon-only" name="settings"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Tavonni Wallet</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="!scanned; else card">
    <ion-item>
      <ion-text>Scan your card to begin</ion-text>
      {{(pubKeys$ | async)}}
    </ion-item>
  </ng-container>
  <ng-template #card>
    <app-card [addys]="pubKeys$ | async"></app-card>
  </ng-template>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="scanCard()">
        <ion-icon name="scan-circle-outline"></ion-icon>Scan Card
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
