<ion-header>
  <ion-toolbar>
    <ion-buttons slot="primary">
      <ion-button (click)="close()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <div slot="start">Card ID</div>
    <div slot="end">{{cid}}--</div>
  </ion-item>
</ion-content>
